contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 4.3.12
    packID: PrismaCloud
    packName: Prisma Cloud by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
deprecated: true
description: |-
  Deprecated. Use Prisma Cloud Remediation - AWS CloudTrail Misconfiguration v2 instead.
  This playbook remediates Prisma Cloud AWS CloudTrail alerts. It calls sub-playbooks that perform the actual remediation steps.

  Remediation:
   - AWS CloudTrail Trail Log Validation Is Not Enabled In All Regions
   - AWS CloudTrail is not enabled in all regions
   - AWS CloudTrail Trail Is Not Integrated With CloudWatch Logs
   - AWS CloudTrail is not enabled on the account
hidden: true
id: Prisma Cloud Remediation - AWS CloudTrail Misconfiguration
inputs:
- description: Update AWS CloudTrail automatically?
  key: AutoUpdateCloudTrail
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: Get the Prisma Cloud policy ID.
  key: policyId
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.policy
      root: incident
      transformers:
      - operator: ParseJSON
      - args:
          field:
            value:
              simple: policyId
        operator: getField
name: Prisma Cloud Remediation - AWS CloudTrail Misconfiguration
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 972c2cba-e9e8-4b4e-8f92-407ca7fb7917
      iscommand: false
      name: ""
      version: -1
    taskid: 972c2cba-e9e8-4b4e-8f92-407ca7fb7917
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 690,
          "y": -190
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: AWS - CloudTrail
                root: modules
          operator: isEqualString
          right:
            value:
              simple: AWS - CloudTrail
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verifies that AWS - CloudTrail integration is enabled.
      id: 0a5eb45f-9464-4658-804d-c547f70d4ea1
      iscommand: false
      name: Is AWS - CloudTrail integration enabled?
      type: condition
      version: -1
    taskid: 0a5eb45f-9464-4658-804d-c547f70d4ea1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 690,
          "y": -50
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoUpdateCloudTrail
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should we auto-remediate?
      id: ff25e4bd-1a36-4ced-857a-e446165b0aaf
      iscommand: false
      name: Update CloudTrail automatically?
      type: condition
      version: -1
    taskid: ff25e4bd-1a36-4ced-857a-e446165b0aaf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -150,
          "y": 290
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: ${incident.id} Autoremediate?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "6"
      "Yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine whether or not to auto-remediate?
      id: c5628a8e-bcf2-4886-8c98-10499d31f6d7
      iscommand: false
      name: Auto remediate?
      type: condition
      version: -1
    taskid: c5628a8e-bcf2-4886-8c98-10499d31f6d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 160,
          "y": 460
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        1. Log in to the AWS console and navigate to the CloudTrail dashboard.
      id: b8279f24-0d0d-48f6-8c67-554d8e0dac81
      iscommand: false
      name: Manually update CloudTrail
      type: regular
      version: -1
    taskid: b8279f24-0d0d-48f6-8c67-554d8e0dac81
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 800
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident.
      id: 599730fe-9f1e-4a63-89c5-e941732683b6
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 599730fe-9f1e-4a63-89c5-e941732683b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1350
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8d06dc1-f186-4459-87b6-3d05d85f70d0
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a8d06dc1-f186-4459-87b6-3d05d85f70d0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 690,
          "y": 1520
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: PrismaCloud v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: PrismaCloud v2
      description: Is Prisma Cloud v2 integration enabled?
      id: 74f7bb07-9a7c-4ac1-8e00-e7182e57208f
      iscommand: false
      name: Is Prisma Cloud v2 integration enabled?
      type: condition
      version: -1
    taskid: 74f7bb07-9a7c-4ac1-8e00-e7182e57208f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1010
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 0d07ac51-fbfe-44fe-8edb-3314c9995ee0
      label: integrationCW
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 38e3d3cf-b694-46ec-8bd2-8f02194b5040
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 36a5345a-230d-438e-a04c-a287a513e3dc
      label: trailMisconfig
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 05befc8b-c78a-45e9-98dc-c7fbaef580e7
      label: account
    continueonerrortype: ""
    defaultassigneecomplex: {}
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      account:
      - "15"
      integrationCW:
      - "16"
      trailMisconfig:
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Execute the appropriate sub-playbook to perform the actual remediation.
      id: dc1e21c8-b771-4f12-8fc9-b53e3b98e410
      iscommand: false
      name: Execute playbook
      type: condition
      version: -1
    taskid: dc1e21c8-b771-4f12-8fc9-b53e3b98e410
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -150,
          "y": 630
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that a Prisma Cloud policy ID exists.
      id: 2265ae7a-bc20-45ed-849b-d30e2853d952
      iscommand: false
      name: Is there a policy to remediate?
      type: condition
      version: -1
    taskid: 2265ae7a-bc20-45ed-849b-d30e2853d952
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 120
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      policyId:
        complex:
          root: inputs.policyId
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5a898bb5-6f8e-4c9f-8dd9-d064da965868
      iscommand: false
      name: Prisma Cloud Remediation - AWS CloudTrail Trail Misconfiguration
      playbookId: Prisma Cloud Remediation - AWS CloudTrail Trail Misconfiguration
      type: playbook
      version: -1
    taskid: 5a898bb5-6f8e-4c9f-8dd9-d064da965868
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 40,
          "y": 840
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      AutoEnableCloudTrail:
        simple: "No"
      CloudTrailRegion:
        simple: us-west-2
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: AWS Cloudtrail is a service which provides event history of your
        AWS account activity, including actions taken through the AWS Management Console,
        AWS SDKs, command line tools, and other AWS services. To remediate Prisma
        Cloud Alert "CloudTrail is not enabled on the account", this playbook creates
        an S3 bucket to host Cloudtrail logs and enable Cloudtrail (includes all region
        events and global service events).
      id: a77d7d44-38b7-4b66-8599-3dbe50cb4034
      iscommand: false
      name: Prisma Cloud Remediation - AWS CloudTrail is not Enabled on the Account
      playbookId: Prisma Cloud Remediation - AWS CloudTrail is not Enabled on the
        Account
      type: playbook
      version: -1
    taskid: a77d7d44-38b7-4b66-8599-3dbe50cb4034
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -390,
          "y": 840
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 025549f1-f265-49b3-8ae7-05e7f344a502
      iscommand: false
      name: Prisma Cloud Remediation - AWS CloudTrail Is Not Integrated With CloudWatch
        Logs
      playbookId: Prisma Cloud Remediation - AWS CloudTrail Is Not Integrated With
        CloudWatch Logs
      type: playbook
      version: -1
    taskid: 025549f1-f265-49b3-8ae7-05e7f344a502
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -810,
          "y": 800
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      alert-id:
        complex:
          accessor: labels
          root: incident
          transformers:
          - args:
              field:
                value:
                  simple: id
            operator: getField
      dismissal-note:
        simple: ${incident.labels.id} has been remediated by Demisto.
      policy-id:
        complex:
          accessor: labels.policy
          root: incident
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: policyId
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: PrismaCloud v2
      description: Dismiss or snooze the alerts matching the given filter. Either
        policy IDs or alert IDs must be provided. When no absolute time nor relative
        time arguments are provided, the default time range is all times. For snoozing,
        provide "snooze_unit" and "snooze_value" arguments.
      id: 9245d63b-9dcd-4cb6-81e6-6b09dcb35f4f
      iscommand: true
      name: Dismiss Prisma Cloud alert
      script: PrismaCloud v2|||prisma-cloud-alert-dismiss
      type: regular
      version: -1
    taskid: 9245d63b-9dcd-4cb6-81e6-6b09dcb35f4f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 140,
          "y": 1180
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_14_trailMisconfig": 0.51,
      "10_15_account": 0.51,
      "10_6_#default#": 0.52,
      "13_3_yes": 0.29,
      "13_6_#default#": 0.27,
      "1_13_yes": 0.56,
      "1_8_#default#": 0.12,
      "3_10_yes": 0.48,
      "3_5_#default#": 0.48,
      "5_10_Yes": 0.51,
      "5_6_#default#": 0.39,
      "9_7_#default#": 0.59
    },
    "paper": {
      "dimensions": {
        "height": 1775,
        "width": 1880,
        "x": -810,
        "y": -190
      }
    }
  }
