contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.3.16
    packID: PrismaCloud
    packName: Prisma Cloud by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook remediates Prisma Cloud Azure Storage alerts.  It calls sub-playbooks that perform the actual remediation steps.

  Remediation:

  - Azure storage account has a blob container with public access
  - Azure storage account logging for blobs is disabled
  - Azure Storage Accounts without Secure transfer enabled
  - Azure storage account logging for queues is disabled
  - Azure storage account logging for tables is disabled
id: Prisma Cloud Remediation - Azure Storage Misconfiguration v2
inputs:
- description: Execute Azure Storage remediation automatically?
  key: AutoRemediateAzureStorage
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: Grab the Prisma Cloud policy ID.
  key: policyId
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.policy
      root: incident
      transformers:
      - operator: ParseJSON
      - args:
          field:
            value:
              simple: policyId
        operator: getField
name: Prisma Cloud Remediation - Azure Storage Misconfiguration v2
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61bee172-14d4-4a48-815c-913b49bef800
      iscommand: false
      name: ""
      version: -1
    taskid: 61bee172-14d4-4a48-815c-913b49bef800
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 630,
          "y": 0
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Azure Storage
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 5df74be3-ecf9-47a6-896c-31c3b22ade2c
      iscommand: false
      name: Is Azure Storage integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 5df74be3-ecf9-47a6-896c-31c3b22ade2c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 140
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1abd9220-e39e-4206-8aa3-dba2695c7f4e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1abd9220-e39e-4206-8aa3-dba2695c7f4e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 630,
          "y": 1670
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for a Prisma Cloud policy Id.
      id: 39f753bf-3720-4d47-831e-110291f8b761
      iscommand: false
      name: Is there a policy to remediate?
      type: condition
      version: -1
    taskid: 39f753bf-3720-4d47-831e-110291f8b761
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 310
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRemediateAzureStorage
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Auto remediate?
      id: 641baad5-946b-4996-8d76-9ec491e633f3
      iscommand: false
      name: Update Storage automatically?
      type: condition
      version: -1
    taskid: 641baad5-946b-4996-8d76-9ec491e633f3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -200,
          "y": 480
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: ${incident.id} Autoremediate?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "8"
      "Yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Remediate automatically or manually update?
      id: e4e62aca-ab0f-4c55-8a9b-b04d74519973
      iscommand: false
      name: Auto remediate?
      type: condition
      version: -1
    taskid: e4e62aca-ab0f-4c55-8a9b-b04d74519973
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 90,
          "y": 650
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 7a506ab4-d0a2-48ee-a6f5-75a97f11397d
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: bc4e467f-10fa-471e-aa9b-28981dc73e9
      label: blob
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      blob:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Execute the appropriate remediation sub-playbook based on the Prisma
        Cloud policy Id.
      id: ad29c1b0-047e-40b7-8f6a-9f89a58554f4
      iscommand: false
      name: Execute playbook
      type: condition
      version: -1
    taskid: ad29c1b0-047e-40b7-8f6a-9f89a58554f4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -200,
          "y": 820
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        1. Log in to the Azure Portal
        2. Go to SQL servers
        3. Choose the reported each DB server
        4. Under the Security section, Click on 'Auditing'
        5. Set 'Auditing' to 'On'
        6. Select 'Storage' and click on 'Storage Details'
        7. Configure 'Retention (days)' setting to greater than or equal to 90 days
        Note: The default value for the retention period is 0 (unlimited retention).
        8. Click on 'Ok'
        9. Click on 'Save'
      id: a65b8012-ec7f-4ff5-80de-64492dff85df
      iscommand: false
      name: Manually update Storage
      type: regular
      version: -1
    taskid: a65b8012-ec7f-4ff5-80de-64492dff85df
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 350,
          "y": 990
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident.
      id: c3d736e6-e9ab-4cfc-8ed0-7276f754c074
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: c3d736e6-e9ab-4cfc-8ed0-7276f754c074
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 350,
          "y": 1500
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: PrismaCloud v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: PrismaCloud v2
      description: Is Prisma Cloud v2 integration enabled?
      id: 7e41ceab-7235-457f-8e5e-9c3d0209b11e
      iscommand: false
      name: Is Prisma Cloud v2 integration enabled?
      type: condition
      version: -1
    taskid: 7e41ceab-7235-457f-8e5e-9c3d0209b11e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 1160
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      alert_ids:
        complex:
          accessor: labels
          root: incident
          transformers:
          - args:
              field:
                value:
                  simple: id
            operator: getField
      dismissal_note:
        simple: ${incident.labels.id} has been remediated by Cortex XSOAR.
    separatecontext: false
    skipunavailable: true
    task:
      brand: PrismaCloud v2
      description: Dismiss the alerts matching the given filter. Must provide either
        policy IDs or alert IDs.
      id: e35348a0-09fc-4386-8b04-cb1d1d36b4d4
      iscommand: true
      name: Dismiss Prisma Cloud alert
      script: PrismaCloud v2|||redlock-dismiss-alerts
      type: regular
      version: -1
    taskid: e35348a0-09fc-4386-8b04-cb1d1d36b4d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 1330
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      policyId:
        complex:
          root: inputs.policyId
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 886730f4-cb8c-4233-891d-36c027099b41
      iscommand: false
      name: Prisma Cloud Remediation - Azure Storage Blob Misconfiguration
      playbookId: Prisma Cloud Remediation - Azure Storage Blob Misconfiguration
      type: playbook
      version: -1
    taskid: 886730f4-cb8c-4233-891d-36c027099b41
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -510,
          "y": 990
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_14_yes": 0.61,
      "11_9_#default#": 0.53,
      "2_3_#default#": 0.2,
      "2_4_yes": 0.52,
      "4_5_yes": 0.3,
      "4_8_#default#": 0.22,
      "5_6_#default#": 0.55,
      "5_7_yes": 0.46,
      "6_7_Yes": 0.46,
      "6_8_#default#": 0.35,
      "7_8_#default#": 0.24
    },
    "paper": {
      "dimensions": {
        "height": 1735,
        "width": 1520,
        "x": -510,
        "y": 0
      }
    }
  }
