contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
hidden: true
id: 801a53c2-3def-4a8d-811e-97ddfb6d0f99
inputs:
- description: ""
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: IP
      root: ExtractedIndicators
      transformers:
      - operator: uniq
- description: ""
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Domain
      root: ExtractedIndicators
name: TCS-Cisco Umbrella  IOC Enrichment Playbook v 1.0
outputs:
- contextPath: ExtractedIndicators.IP
  description: IP address
- contextPath: DBotScore
  description: DBot Score
  type: unknown
- contextPath: ExtractedIndicators.Domain
  description: Domain
sourceplaybookid: 08c3b260-77a7-4316-8c5d-802cc55f4e22
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8b046fd-ed88-4802-8377-ffa912ac1c2d
      iscommand: false
      name: ""
      version: -1
    taskid: a8b046fd-ed88-4802-8377-ffa912ac1c2d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 600
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a711e3ae-96e8-4514-8d36-dc510bbca51c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a711e3ae-96e8-4514-8d36-dc510bbca51c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 260,
          "y": 1830
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.IP
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine whether the playbook's input contains at least one IP
        address.
      id: 44f6008b-196d-4ddf-860e-5506c3a753e5
      iscommand: false
      name: Are there any IP addresses ?
      type: condition
      version: -1
    taskid: 44f6008b-196d-4ddf-860e-5506c3a753e5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 960
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cisco Umbrella Investigate
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the ThreatCrowd integration
        enabled.
      id: e175d39f-7254-4182-8a3b-4095eaebebe5
      iscommand: false
      name: Is Cisco Umbrella Investigate enabled?
      type: condition
      version: -1
    taskid: e175d39f-7254-4182-8a3b-4095eaebebe5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 780
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cisco Umbrella Investigate
      description: This command  shows whether the IP address you’ve entered as input
        has any known malicious domains associated with it. The domains that appear
        when using this endpoint are those that currently exist in the Umbrella block
        list. This endpoint will return an array with a single domain name for each
        domain associated with the IP, along with an id number that can be ignored.
      id: 0bbe11a6-6c79-48a0-8d87-ee4da8f73d08
      iscommand: true
      name: Get Malicious Domains Associated With IP Address
      script: Cisco Umbrella Investigate|||umbrella-ip-malicious-domains
      tags:
      - toreport
      type: regular
      version: -1
    taskid: 0bbe11a6-6c79-48a0-8d87-ee4da8f73d08
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1150
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ExtractedIndicators.Domain
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine whether the playbook's input contains at least one IP
        address.
      id: 4f60e65a-c13e-4f27-8042-197a99b1e8ba
      iscommand: false
      name: Are there any Domains ?
      type: condition
      version: -1
    taskid: 4f60e65a-c13e-4f27-8042-197a99b1e8ba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 780
        }
      }
  "36":
    continueonerror: true
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        complex:
          accessor: Name
          root: Domain
      extend-context:
        simple: Umbrella.ContentCategories=Domain.Umbrella.ContentCategories, Umbrella.MalwareCategories=Domain.Umbrella.MalwareCategories
      using:
        simple: Cisco Umbrella Investigate_instance_1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cisco Umbrella Investigate
      description: Get Domain Reputation info using Cisco Umbrella Investigate. Domain
        reputation score is either true or false from the service and cannot be modified
        using a threshold.
      id: f1587004-cfe4-4ea2-816f-938d8b2fb445
      iscommand: true
      name: 'Get Domain Report From Cisco Umbrella '
      script: Cisco Umbrella Investigate|||domain
      tags:
      - toreport
      type: regular
      version: -1
    taskid: f1587004-cfe4-4ea2-816f-938d8b2fb445
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1330
        }
      }
  "39":
    continueonerror: true
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cisco Umbrella Investigate
      description: This will return a list of domain names that have been frequently
        seen requested b around the same time (up to 60 seconds before or after) as
        the given domain name, but that are not frequently associated with other domain
        names.
      id: 6d5c6fff-4ec1-4e02-8a0f-a63a6362afb8
      iscommand: true
      name: 'Get Related/Associated  Domain From Cisco Umbrella '
      script: Cisco Umbrella Investigate|||umbrella-domain-related
      tags:
      - toreport
      type: regular
      version: -1
    taskid: 6d5c6fff-4ec1-4e02-8a0f-a63a6362afb8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1520
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: Ipstack
      description: Queries an IP address in ipstack.
      id: a1fec39e-ae43-4350-8d4f-d046a78685c8
      iscommand: true
      name: Get IP Address of Domain
      script: Ipstack|||ip
      type: regular
      version: -1
    taskid: a1fec39e-ae43-4350-8d4f-d046a78685c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 960
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: ip.address
          root: Ipstack
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cisco Umbrella Investigate
      description: This command  shows whether the IP address you’ve entered as input
        has any known malicious domains associated with it. The domains that appear
        when using this endpoint are those that currently exist in the Umbrella block
        list. This endpoint will return an array with a single domain name for each
        domain associated with the IP, along with an id number that can be ignored.
      id: 7991b823-a208-415f-803e-003814117e1a
      iscommand: true
      name: Get Malicious Domains Associated With IP Address
      script: Cisco Umbrella Investigate|||umbrella-ip-malicious-domains
      tags:
      - toreport
      type: regular
      version: -1
    taskid: 7991b823-a208-415f-803e-003814117e1a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1150
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1295,
        "width": 810,
        "x": 50,
        "y": 600
      }
    }
  }
