contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 1.3.20
    packID: Zscaler
    packName: Zscaler Internet Access
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks domains using Zscaler.
  The playbook checks whether the Zscaler integration is enabled, whether the Domain input has been provided and if so, blocks the domain.
id: Block Domain - Zscaler
inputs:
- description: The Domain to block.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: Block Domain - Zscaler
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b124cfe7-a56f-4490-880b-78cf3274b99b
      iscommand: false
      name: ""
      version: -1
    taskid: b124cfe7-a56f-4490-880b-78cf3274b99b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -70
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: Active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Check Point Firewall enabled.
      id: 566639bd-4b4b-47c5-81f5-1665ec447c34
      iscommand: false
      name: Is Zscaler enabled?
      type: condition
      version: -1
    taskid: 566639bd-4b4b-47c5-81f5-1665ec447c34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 230
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        complex:
          root: inputs.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds the specified URLs to the block list.
      id: 29429f18-564b-4d05-8c78-eaaee9e7a41c
      iscommand: true
      name: Block Domain
      script: '|||zscaler-blacklist-url'
      type: regular
      version: -1
    taskid: 29429f18-564b-4d05-8c78-eaaee9e7a41c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 400
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 897a00db-2a04-48d5-8630-e55b5443f0b9
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 897a00db-2a04-48d5-8630-e55b5443f0b9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 570
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domain
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the necessary inputs were provided
      id: cfdef7e9-5188-4715-8a20-4cf22f75f1ee
      iscommand: false
      name: Check if Domain input was provided
      type: condition
      version: -1
    taskid: cfdef7e9-5188-4715-8a20-4cf22f75f1ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 60
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "2_3_yes": 0.53,
      "2_4_#default#": 0.47,
      "5_2_yes": 0.71,
      "5_4_#default#": 0.53
    },
    "paper": {
      "dimensions": {
        "height": 705,
        "width": 820,
        "x": 450,
        "y": -70
      }
    }
  }
