contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.3.12
    packID: PrismaCloud
    packName: Prisma Cloud by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook remediates Prisma Cloud AWS EC2 alerts.  It calls the following sub-playbooks to perform the remediation:
  - AWS Default Security Group Does Not Restrict All Traffic (policy id: 2378dbf4-b104-4bda-9b05-7417affbba3f)
  - AWS Security Group allows all traffic on SSH port (22) (policy id: 617b9138-584b-4e8e-ad15-7fbabafbed1a)
  - AWS Security Groups allow internet traffic from internet to RDP port (3389) (policy id: b82f90ce-ed8b-4b49-970c-2268b0a6c2e5).
id: Prisma Cloud Remediation - AWS EC2 Instance Misconfiguration v2
inputs:
- description: Get the Prisma Cloud policy ID.
  key: policyId
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.policy
      root: incident
      transformers:
      - operator: ParseJSON
      - args:
          field:
            value:
              simple: policyId
        operator: getField
- description: Update AWS EC2 instance automatically?
  key: AutoUpdateEC2
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
name: Prisma Cloud Remediation - AWS EC2 Instance Misconfiguration v2
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 972c2cba-e9e8-4b4e-8f92-407ca7fb7917
      iscommand: false
      name: ""
      version: -1
    taskid: 972c2cba-e9e8-4b4e-8f92-407ca7fb7917
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 930,
          "y": -420
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: AWS - EC2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 3bd78b35-5c67-4c29-82d3-56cd93cb2e1a
      iscommand: false
      name: Is AWS - EC2 integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 3bd78b35-5c67-4c29-82d3-56cd93cb2e1a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": -260
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoUpdateEC2
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should we auto-remediate?
      id: 77885611-1518-41c5-8929-0da5c8de85cb
      iscommand: false
      name: Update EC2 automatically?
      type: condition
      version: -1
    taskid: 77885611-1518-41c5-8929-0da5c8de85cb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 80,
          "y": 80
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: ${incident.id} Autoremediate?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "6"
      "Yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines whether or not to auto-remediate?
      id: a1526b70-d9ce-4d1c-8e36-4aaa1cf5d850
      iscommand: false
      name: Auto remediate?
      type: condition
      version: -1
    taskid: a1526b70-d9ce-4d1c-8e36-4aaa1cf5d850
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 250
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Follow the steps outlined in the appropriate sub-playbook to remediate
        the issue.
      id: f8dfdf9c-3271-4644-89ce-2fdfd9f25e9f
      iscommand: false
      name: Manually remediate EC2
      type: regular
      version: -1
    taskid: f8dfdf9c-3271-4644-89ce-2fdfd9f25e9f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 420
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 8941af46-893e-47e2-8119-670c65cf561e
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 8941af46-893e-47e2-8119-670c65cf561e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1115
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5bfb7869-0a96-4ca5-875c-1ec4c9072953
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 5bfb7869-0a96-4ca5-875c-1ec4c9072953
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1290
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: PrismaCloud v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: PrismaCloud v2
      description: Is Prisma Cloud v2 integration enabled?
      id: 1b01f096-ed50-4e46-8dfc-1fc611535c7a
      iscommand: false
      name: Is Prisma Cloud v2 integration enabled?
      type: condition
      version: -1
    taskid: 1b01f096-ed50-4e46-8dfc-1fc611535c7a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 765
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 2378dbf4-b104-4bda-9b05-7417affbba3f
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 617b9138-584b-4e8e-ad15-7fbabafbed1a
      label: securityGroups
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: b82f90ce-ed8b-4b49-970c-2268b0a6c2e5
      label: internetPorts
    continueonerrortype: ""
    defaultassigneecomplex: {}
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      internetPorts:
      - "16"
      securityGroups:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Execute the appropriate sub-playbook to perform the actual remediation.
      id: 1ac99665-2df1-40fe-8293-7d2513605e2f
      iscommand: false
      name: Execute playbook
      type: condition
      version: -1
    taskid: 1ac99665-2df1-40fe-8293-7d2513605e2f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 80,
          "y": 420
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    defaultassigneecomplex: {}
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that a Prisma Cloud policy ID exists.
      id: 0d732bc3-22a0-4b2e-8b03-4d8aa68b9389
      iscommand: false
      name: Is there a policy to remediate?
      type: condition
      version: -1
    taskid: 0d732bc3-22a0-4b2e-8b03-4d8aa68b9389
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": -90
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      policyId:
        complex:
          root: inputs.policyId
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b5281377-31ef-472b-8699-6c94c222e807
      iscommand: false
      name: Prisma Cloud Remediation - AWS EC2 Security Group Misconfiguration
      playbookId: Prisma Cloud Remediation - AWS EC2 Security Group Misconfiguration
      type: playbook
      version: -1
    taskid: b5281377-31ef-472b-8699-6c94c222e807
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 420,
          "y": 590
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 3d9a9afc-e7e3-4be6-8142-57b5ef3bffb2
      iscommand: false
      name: Prisma Cloud Remediation - AWS Security Groups Allows Internet Traffic
        To TCP Port
      playbookId: Prisma Cloud Remediation - AWS Security Groups Allows Internet Traffic
        To TCP
      type: playbook
      version: -1
    taskid: 3d9a9afc-e7e3-4be6-8142-57b5ef3bffb2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -220,
          "y": 590
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      alert_ids:
        complex:
          accessor: labels
          root: incident
          transformers:
          - args:
              field:
                value:
                  simple: id
            operator: getField
      dismissal_note:
        simple: ${incident.labels.id} has been remediated by Cortex XSOAR.
      policy_ids:
        complex:
          accessor: labels.policy
          root: incident
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: policyId
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: PrismaCloud v2
      description: Dismiss or snooze the alerts matching the given filter. Either
        policy IDs or alert IDs must be provided. When no absolute time nor relative
        time arguments are provided, the default time range is all times. For snoozing,
        provide "snooze_unit" and "snooze_value" arguments.
      id: f8385099-65e3-47ef-818d-0131c61c0d6f
      iscommand: true
      name: Dismiss Prisma Cloud alert
      script: PrismaCloud v2|||prisma-cloud-alert-dismiss
      type: regular
      version: -1
    taskid: f8385099-65e3-47ef-818d-0131c61c0d6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 940
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_15_securityGroups": 0.54,
      "10_16_internetPorts": 0.56,
      "14_3_yes": 0.49,
      "14_6_#default#": 0.26,
      "1_14_yes": 0.5,
      "1_8_#default#": 0.18,
      "3_10_yes": 0.48,
      "3_5_#default#": 0.48,
      "5_10_Yes": 0.51,
      "5_6_#default#": 0.52,
      "9_7_#default#": 0.59
    },
    "paper": {
      "dimensions": {
        "height": 1775,
        "width": 1530,
        "x": -220,
        "y": -420
      }
    }
  }
