contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.5.2
    packID: QRadar
    packName: IBM QRadar
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
deprecated: true
description: |-
  Deprecated. No available replacement. This playbook uses the QRadar integration to investigate an access incident by gathering user and IP information.

  The playbook then interacts with the user that triggered the incident to confirm whether or not they initiated the access action.
id: access_investigation_-_qradar
inputs: []
name: Access Investigation - QRadar
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9191bc70-1a40-4150-83d9-66731d89243f
      iscommand: false
      name: ""
      version: -1
    taskid: 9191bc70-1a40-4150-83d9-66731d89243f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": -640
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0397e09e-ea98-47a4-8148-7df722f74fe4
      iscommand: false
      name: QRadar alert
      type: title
      version: -1
    taskid: 0397e09e-ea98-47a4-8148-7df722f74fe4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": -510
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      GetCorrelationLogs:
        simple: "True"
      ID:
        complex:
          accessor: labels.id
          root: incident
      MaxLogsCount:
        simple: "20"
      StartTime:
        complex:
          root: Time
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Run on a QRadar offense to get more information:

        * Get all correlations relevant to the offense
        * Get all logs relevant to the correlations (not done by default - set "GetCorrelationLogs" to "True")

        Inputs:
        * GetCorrelationLogs (default: False)
        * MaxLogsCount (default: 20)
      id: 6f12a822-db6c-40b7-813d-714a77e77f1f
      iscommand: false
      name: QRadar - Get offense correlations v2
      playbookId: QRadar - Get offense correlations v2
      type: playbook
      version: -1
    taskid: 6f12a822-db6c-40b7-813d-714a77e77f1f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      DstIP:
        complex:
          accessor: Correlation.DestinationIP
          root: QRadar
          transformers:
          - operator: uniq
      SrcIP:
        complex:
          accessor: Correlation.SourceIP
          root: QRadar
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Correlation.Username
          root: QRadar
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 552536df-def5-4b43-862d-27dfd4fc368b
      iscommand: false
      name: Access Investigation - Generic
      playbookId: access_investigation_-_generic
      type: playbook
      version: -1
    taskid: 552536df-def5-4b43-862d-27dfd4fc368b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5971b5b-220a-4d33-814f-5a1b428cc6b5
      iscommand: false
      name: Investigate access incident
      type: title
      version: -1
    taskid: f5971b5b-220a-4d33-814f-5a1b428cc6b5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 400
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12caaa45-7f58-4a12-8c36-319eaa965335
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 12caaa45-7f58-4a12-8c36-319eaa965335
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 710
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      dest:
        complex:
          accessor: Correlation.DestinationIP
          root: QRadar
          transformers:
          - operator: uniq
          - operator: Stringify
      src:
        complex:
          accessor: Correlation.SourceIP
          root: QRadar
          transformers:
          - operator: uniq
          - operator: Stringify
      srcuser:
        complex:
          accessor: Correlation.Username
          root: QRadar
          transformers:
          - operator: uniq
          - operator: Stringify
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Set the information retrieved from QRadar into the access incident custom fields:
        * Dest
        * Src
        * Src User
      id: 062be244-4158-4ac7-8f2b-ce9e6693ccca
      iscommand: true
      name: Set QRadar information into access custom fields
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 062be244-4158-4ac7-8f2b-ce9e6693ccca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 225
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: QRadar
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 975ea04b-4f88-4d4b-87f2-e84069981424
      iscommand: false
      name: Is QRadar v1 enabled?
      type: condition
      version: -1
    taskid: 975ea04b-4f88-4d4b-87f2-e84069981424
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": -360
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: QRadar_v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aac3592e-525f-41ad-8ca7-97b3ac752554
      iscommand: false
      name: Is QRadar v2 enabled?
      type: condition
      version: -1
    taskid: aac3592e-525f-41ad-8ca7-97b3ac752554
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": -360
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Time
      value:
        complex:
          accessor: start_time
          root: incident.labels
          transformers:
          - args:
              formatter:
                value:
                  simple: '%Y-%m-%dT%H:%M:%S.%fZ'
            operator: FormattedDateToEpoch
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 58b12c72-eff4-40eb-850d-f2950246e20c
      iscommand: false
      name: Set timestamp to epoch
      script: Set
      type: regular
      version: -1
    taskid: 58b12c72-eff4-40eb-850d-f2950246e20c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -140
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Time
      value:
        complex:
          root: inputs.StartTime
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1fd3c2d2-c84b-485b-8a79-8dbb71e767c7
      iscommand: false
      name: Set timestamp
      script: Set
      type: regular
      version: -1
    taskid: 1fd3c2d2-c84b-485b-8a79-8dbb71e767c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -360,
          "y": -160
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1415,
        "width": 1200,
        "x": -360,
        "y": -640
      }
    }
  }
