contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 4.3.12
    packID: PrismaCloud
    packName: Prisma Cloud by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook remediates the following Prisma Cloud Azure SQL database alerts.

  Prisma Cloud policies remediated:

  - Azure SQL database auditing is disabled
  - Azure SQL Database with Auditing Retention less than 90 days
  - Azure Threat Detection on SQL databases is set to Off
  - Azure SQL Database with Threat Retention less than or equals to 90 days
id: Prisma Cloud Remediation - Azure SQL Database Misconfiguration
inputs:
- description: Prisma Cloud policy Id.
  key: policyId
  playbookInputQuery: null
  required: true
  value: {}
name: Prisma Cloud Remediation - Azure SQL Database Misconfiguration
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61bee172-14d4-4a48-815c-913b49bef800
      iscommand: false
      name: ""
      version: -1
    taskid: 61bee172-14d4-4a48-815c-913b49bef800
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 630,
          "y": 0
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1abd9220-e39e-4206-8aa3-dba2695c7f4e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1abd9220-e39e-4206-8aa3-dba2695c7f4e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 630,
          "y": 880
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 96b1b8e3-6936-434f-94ab-a154cd5967d9
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: fa6fa903-8887-49dd-917f-91687df98dd1
      label: auditPolicy
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: 8f7eee48-dffb-4f18-9207-8ea48680b0e2
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.policyId
          operator: isEqualString
          right:
            value:
              simple: c83a7b1d-ac74-475b-80fe-b1244daa1b27
      label: threatPolicy
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      auditPolicy:
      - "12"
      threatPolicy:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Execute the appropriate remediation task using the Prisma Cloud
        policy Id.
      id: 3b40741f-1c37-47df-8aad-4ff5fcd4d029
      iscommand: false
      name: Execute remediation
      type: condition
      version: -1
    taskid: 3b40741f-1c37-47df-8aad-4ff5fcd4d029
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 330
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        1. Log in to the Azure Portal
        2. Go to SQL servers
        3. Choose the reported each DB server
        4. Under the Security section, Click on 'Auditing'
        5. Set 'Auditing' to 'On'
        6. Select 'Storage' and click on 'Storage Details'
        7. Configure 'Retention (days)' setting to greater than or equal to 90 days
        Note: The default value for the retention period is 0 (unlimited retention).
        8. Click on 'Ok'
        9. Click on 'Save'
      id: aa685f71-f2a6-4079-8553-11774b7be594
      iscommand: false
      name: Manually update SQL database settings
      type: regular
      version: -1
    taskid: aa685f71-f2a6-4079-8553-11774b7be594
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 650
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 273fe351-27f0-481f-83ab-524a1bcd91c4
      iscommand: false
      name: Auditing is disabled
      type: title
      version: -1
    taskid: 273fe351-27f0-481f-83ab-524a1bcd91c4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 290,
          "y": 500
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Azure SQL Management
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 5505c422-1127-43cb-82d0-017fe3e729e1
      iscommand: false
      name: Is Azure SQL Management integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 5505c422-1127-43cb-82d0-017fe3e729e1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 160
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d94edb5a-d5dc-439c-80b0-ed661cb922d9
      iscommand: false
      name: Threat Detection set to off
      type: title
      version: -1
    taskid: d94edb5a-d5dc-439c-80b0-ed661cb922d9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 500
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      db_name:
        complex:
          accessor: resource
          root: incident.labels
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              from:
                value:
                  simple: '/ '
            operator: substringFrom
      retention_days:
        simple: "90"
      server_name:
        complex:
          accessor: resource
          root: incident.labels
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              to:
                value:
                  simple: ' /'
            operator: substringTo
      state:
        simple: Enabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Azure SQL Management
      description: Enables the database's auditing policy with a 90 day retention.
      id: c19af503-7e18-4879-874b-f84f1102467c
      iscommand: true
      name: Enable auditing with 90 day retention
      script: Azure SQL Management|||azure-sql-db-audit-policy-create-update
      type: regular
      version: -1
    taskid: c19af503-7e18-4879-874b-f84f1102467c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": 650
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      db_name:
        complex:
          accessor: resource
          root: incident.labels
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              from:
                value:
                  simple: '/ '
            operator: substringFrom
      retention_days:
        simple: "90"
      server_name:
        complex:
          accessor: resource
          root: incident.labels
          transformers:
          - operator: ParseJSON
          - args:
              field:
                value:
                  simple: name
            operator: getField
          - args:
              to:
                value:
                  simple: ' /'
            operator: substringTo
      state:
        simple: Enabled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Azure SQL Management
      description: Enables the database's threat detection policy with a 90 day retention.
      id: e1c3197a-b812-40b0-83b8-4b002703fd6a
      iscommand: true
      name: Enable threat detection with 90 day retention
      script: Azure SQL Management|||azure-sql-db-threat-policy-create-update
      type: regular
      version: -1
    taskid: e1c3197a-b812-40b0-83b8-4b002703fd6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 650
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_3_#default#": 0.1,
      "15_5_yes": 0.55,
      "5_10_#default#": 0.65,
      "5_21_threatPolicy": 0.62
    },
    "paper": {
      "dimensions": {
        "height": 945,
        "width": 1440,
        "x": 290,
        "y": 0
      }
    }
  }
